@media only screen and (max-width: 480px){

main{
    background-color:rgb(178, 178, 178);
    color: rgb(7, 119, 125);
    font-family: 'Work Sans', sans-serif;

    }
    
h5{
    color: rgb(78, 78, 110);
    }



.gauche{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
    padding: 10%;
}


.carousel{
    width: auto;
    text-align: center;
    padding: 10%;
    margin-top: -15%;
}
h4{
    margin-bottom: 10%;
}
}
@media (min-width:481px){
    main{
        background-color:rgb(178, 178, 178);
        color: rgb(7, 119, 125);
        font-family: 'Work Sans', sans-serif;
    
        }
        
    h5{
        color: rgb(78, 78, 110);
        }

    .gauche{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: left;
        padding-left: 0%;
        width: auto;
        padding-top: 10%;
    }

    .carousel{
        padding: 10%;
        padding-top: 5%;
    }
    h4{
        text-align: center;
        margin-top: 5%;
    }
}


 